

@{
    ViewData["Title"] = "Home Page";
}




<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="wp-block-heading">Calibration Management System</h1>
            <p>Quality Assurance Department</p>

            <div class="container">
                <div class="row" style="padding: 20px;">
                    <div style="height: 250px;" class="col-md-12 d-flex align-items-center justify-content-center">
                        <div class="container-xxl text-center">
                            <div class="mb-1 mb-md-0">
                                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="~/assets/img/sdp/img-logo-sa.png" alt="sanace" />
                                            <p>“San Ace” is SANYO DENKI’s brand name for cooling systems products, such as cooling fans and cooling fan units.</p>
                                        </div>
                                        <div class="carousel-item">
                                            <img src="~/assets/img/sdp/img-logo-su.png" alt="sanups" />
                                            <p>“SANUPS” is SANYO DENKI’s brand name for power supply equipment, including power conditioners for PV inverters, UPSs, inverters, and engine generators.</p>
                                        </div>
                                        <div class="carousel-item ">
                                            <img src="~/assets/img/sdp/img-logo-sm.png" alt="sanmotion" class="autosize-image" />
                                            <p>“SANMOTION” is SANYO DENKI’s brand name for servo systems, such as servo motors, servo amplifiers, stepping motors, stepping drivers.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <p>
                The Calibration Section is crucial within a manufacturing company as it plays a key role in guaranteeing the precision and dependability of measuring instruments and equipment.
            </p>
            <p>
                Its main objectives include upholding the accuracy of tools, gauges, and machinery, thereby enhancing product quality and ensuring compliance with industry standards.
            </p>
            <p>
                The aims involve minimizing measurement errors, enhancing process efficiency, and maintaining a consistent output.
            </p>
            <p>
                In summary, a well-established Calibration Section contributes to heightened reliability, decreased downtime, and adherence to regulatory requirements.
            </p>
            <p>
                Having a dedicated calibration department not only ensures the accuracy of measurements but also establishes a solid foundation for manufacturing excellence, fostering customer trust and compliance with stringent quality control measures.
            </p>
        </div>
    </div>

</div>
 
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-height-home" style="padding:10px;">
                <div class="card-header card-height-header-home">
                    What does Calibration Software refer to?

                </div>
                <hr />
                <div class="div-padding-home">
                    Calibration software commonly incorporates compatibility with a range of instruments and measurement devices, empowering technicians to execute calibrations with increased efficiency and precision.
                    This software plays a crucial role in aiding organizations to adhere to industry standards, enhance overall productivity, and guarantee the traceability of calibration records.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-height-home" style="padding:10px;">
                <div class="card-header card-height-header-home">
                    What are the advantages of employing software for calibration management?
                </div>
                <hr />
                <div class="div-padding-home">
                    Automating documentation through software not only saves time but also reduces risks, enabling swift data analysis for informed decision-making.
                    Your most crucial asset, calibration data, can be safeguarded and maintained at a high standard with the use of calibration software.
                    In contrast, relying on manual paper-based documentation is labor-intensive, error-prone, and can turn data analysis into a challenging endeavor.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-height-home" style="padding:10px;">
                <div class="card-header card-height-header-home">
                    What changes have occurred in the evolution of calibration documentation?
                </div>
                <hr />
                <div class="div-padding-home">
                    In the past, calibration results were documented using pen and paper. Subsequently, electronic systems like spreadsheets and databases were introduced, although calibration data entry remained a manual process.

                    Over time, maintenance management systems incorporated the capability to store calibration data. However, the level of automation was generally minimal, and the analysis of calibration data was lacking.

                    The optimal progression involves adopting specialized calibration management software designed for this specific purpose. This software provides the highest degree of automation, facilitating seamless analysis of calibration data and informed decision-making based on the data.
                </div>
            </div>
        </div>
    </div>

</div>




