@model Calibration_Management_System.Models.EquipmentRegistration

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>EquipmentRegistration</h4>
<hr />
<form asp-action="Edit" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-3">
                 <div class="form-group">
                    <label asp-for="fld_codeNo" class="control-label"></label>
                    <input asp-for="fld_codeNo" class="form-control" />
                    <span asp-validation-for="fld_codeNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="fld_ctrlNo" class="control-label"></label>
                    <input asp-for="fld_ctrlNo" class="form-control" />
                    <span asp-validation-for="fld_ctrlNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="fld_division" class="control-label"></label>
                    <input asp-for="fld_division" class="form-control" />
                    <span asp-validation-for="fld_division" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="fld_category" class="control-label"></label>
                    <input asp-for="fld_category" class="form-control" />
                    <span asp-validation-for="fld_category" class="text-danger"></span>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="fld_code2" class="control-label"></label>
                    <input asp-for="fld_code2" class="form-control" />
                    <span asp-validation-for="fld_code2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="fld_eqpName" class="control-label"></label>
                    <input asp-for="fld_eqpName" class="form-control" />
                    <span asp-validation-for="fld_eqpName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="fld_eqpModelNo" class="control-label"></label>
                    <input asp-for="fld_eqpModelNo" class="form-control" />
                    <span asp-validation-for="fld_eqpModelNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="fld_serial" class="control-label"></label>
                    <input asp-for="fld_serial" class="form-control" />
                    <span asp-validation-for="fld_serial" class="text-danger"></span>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="fld_brand" class="control-label"></label>
                    <input asp-for="fld_brand" class="form-control" />
                    <span asp-validation-for="fld_brand" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="fld_term" class="control-label"></label>
                    <input asp-for="fld_term" class="form-control" />
                    <span asp-validation-for="fld_term" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="fld_reqFunction" class="control-label"></label>
                    <input asp-for="fld_reqFunction" class="form-control" />
                    <span asp-validation-for="fld_reqFunction" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="fld_passFail" class="control-label"></label>
                    <input asp-for="fld_passFail" class="form-control" />
                    <span asp-validation-for="fld_passFail" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="fld_registrationDate" class="control-label"></label>
                    <input asp-for="fld_registrationDate" class="form-control" />
                    <span asp-validation-for="fld_registrationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="fld_imte" class="control-label"></label>
                    <input asp-for="fld_imte" class="form-control" />
                    <span asp-validation-for="fld_imte" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="fld_calibDate" class="control-label"></label>
                    <input asp-for="fld_calibDate" class="form-control" />
                    <span asp-validation-for="fld_calibDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="fld_calibMonth" class="control-label"></label>
                    <input asp-for="fld_calibMonth" class="form-control" />
                    <span asp-validation-for="fld_calibMonth" class="text-danger"></span>
                </div>
            </div>
            <hr style="border-top: 3px double #000000;" />
            <div class="col-md-6">
                 <div class="form-group">
                    <label asp-for="fld_calibYear" class="control-label"></label>
                    <input asp-for="fld_calibYear" class="form-control" />
                    <span asp-validation-for="fld_calibYear" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="fld_nextCalibDate" class="control-label"></label>
                    <input asp-for="fld_nextCalibDate" class="form-control" />
                    <span asp-validation-for="fld_nextCalibDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="fld_nextCalibMonth" class="control-label"></label>
                    <input asp-for="fld_nextCalibMonth" class="form-control" />
                    <span asp-validation-for="fld_nextCalibMonth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="fld_nextCalibYear" class="control-label"></label>
                    <input asp-for="fld_nextCalibYear" class="form-control" />
                    <span asp-validation-for="fld_nextCalibYear" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="fld_internalExternal" class="control-label"></label>
                    <input asp-for="fld_internalExternal" class="form-control" />
                    <span asp-validation-for="fld_internalExternal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="fld_supplierExternal" class="control-label"></label>
                    <input asp-for="fld_supplierExternal" class="form-control" />
                    <span asp-validation-for="fld_supplierExternal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="fld_comment" class="control-label"></label>
                    <input asp-for="fld_comment" class="form-control" />
                    <span asp-validation-for="fld_comment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="fld_appStandardEqp" class="control-label"></label>
                    <input asp-for="fld_appStandardEqp" class="form-control" />
                    <span asp-validation-for="fld_appStandardEqp" class="text-danger"></span>
                </div>
            </div>
            <hr style="border-top: 3px double #000000;" />
            <div class="col-md-6">
                <div class="form-group"><div>
                        <div class="form-group">
                            <label for="_pathIMG">Image Upload:</label>
                            <input type="file" id="_pathIMG" name="_pathIMG" class="form-control-file" />
                        </div>

                        <div class="form-group">
                            <label for="_pathDoc">PDF Upload:  &nbsp;&nbsp;</label>
                            <input type="file" id="_pathDoc" name="_pathDoc" class="form-control-file" />
                        </div>

                </div>

                    <div class="form-group">
                       
                    <label asp-for="fld_stat" class="control-label"></label>
                    <input asp-for="fld_stat" class="form-control" />
                    <span asp-validation-for="fld_stat" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group paddingTop">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a style="padding-left:20px" asp-action="Index">Back to List</a>
                </div>
            </div>









            </div>
        </div>
    </div>

</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
