@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = Request.Path.StartsWithSegments("/Account/Login") ? null : "~/Views/Shared/_LoginLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="d-flex justify-content-center align-items-center" style="height: 50vh;">
    <div class="text-center">
        
        <h2>Enter your email.</h2>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width:400px">
                    <div class="card-body">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Email" class="form-control"
                                           autofocus autocomplete="username" aria-required="true" />
                                    <label asp-for="Input.Email" class="form-label"></label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                            </div>
                            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
                        </form>
                    </div>
                </div>

                    
                <a asp-action="Index">Back to Main</a>
            </div>
        </div>

    </div>
</div>
    


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
