@model Calibration_Management_System.Models.GeneralForm

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>GeneralForm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="fld_no" class="control-label"></label>
                <input asp-for="fld_no" class="form-control" />
                <span asp-validation-for="fld_no" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fld_dateEst" class="control-label"></label>
                <input asp-for="fld_dateEst" class="form-control" />
                <span asp-validation-for="fld_dateEst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fld_appEquipment" class="control-label"></label>
                <input asp-for="fld_appEquipment" class="form-control" />
                <span asp-validation-for="fld_appEquipment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fld_docNo" class="control-label"></label>
                <input asp-for="fld_docNo" class="form-control" />
                <span asp-validation-for="fld_docNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fld_rev" class="control-label"></label>
                <input asp-for="fld_rev" class="form-control" />
                <span asp-validation-for="fld_rev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
